<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1><%= params[:action] %> Bio</h1>
  </div>
</div>
<div class="row topsp">
  <div class="loginform">
  <%# @url = params[:action]=='new' %>
  <%= form_for @bio, html: { multipart: true } do |f| %>
    <% if bio.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bio.errors.count, "error") %> prohibited this bio from being saved:</h2>

        <ul>
        <% bio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>   
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-30">
      
        <%= f.file_field :image %>    

        <div class="inputxt">Description :</div>
          <%= f.text_area :description, size: "35x10", autofocus: true %>
        <br class="clear" />
      
        <%= f.submit %>        
      </div>
    <% end -%>
  </div>
</div>

