<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>Art</h1>
  </div>
</div>

<br>

<p id="notice"><%= notice %></p>

<br>

<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @exhibitions.each do |exhibition| %>
        <tr>
          <td><%= exhibition.title %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_exhibition_path(exhibition) %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, exhibition, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to '<button type="button" class="btn btn-primary active">New exhibition</button>'.html_safe, new_exhibition_path %>
