<li class="<%= selected_class(params, 'home') %>">
  <%= link_to 'HOME', root_path %>
</li>         
<li class="<%= selected_class(params, 'news') %>">
  <a href="news.html">NEWS </a>
</li>         
<li class="<%= selected_class(params, 'music') %>">
  <a href="music.html">MUSIC </a>
</li>         
<li class="<%= selected_class(params, 'video') %>">
  <a href="video.html">VIDEO </a>
</li>        
<li class="<%= selected_class(params, 'tour') %>"><%= link_to 'TOUR', tour_path %>
</li>  
<li class="<%= selected_class(params, 'store') %>"><%= link_to 'STORE', store_path %>
</li>   
<li class="<%= selected_class(params, 'fanwall') %>">
  <%= link_to 'FANWALL', fanwall_path %>
</li>         
<li class="<%= selected_class(params, 'art') %>">
  <a href="art.html">ART </a>
</li>         
<li class="<%= selected_class(params, 'social`') %>">
  <a href="social.html">SOCIAL </a>
</li>          
<li class="<%= selected_class(params, 'bio') %>">
  <a href="bio.html">BIO </a>
</li> 