    <div class="container-fluid">
  		<div class="row">  
            	<div class="imgarea">
                  <a href="<%= art_path %>">
                    <img src="<%= asset_path('img1.jpg') %>" alt="" />
                    <div class="imgdesc">Art </div>
                  </a>
                </div>	 
            	<div class="imgarea">
                  <a href="<%= latest_news_path%>">
                    <img src="<%= asset_path('img2.jpg') %>" alt="" />
                    <div class="imgdesc">News </div>
                  </a>
                </div>             
            	<div class="imgarea">
                  <a href="<%= music_path %>">
                    <img src="<%= asset_path('img3.jpg') %>" alt="" />
                    <div class="imgdesc">Music </div>
                  </a>
                </div>            
            	<div class="imgarea">
                  <a href="<%= video_page_path%>">
                    <img src="<%= asset_path('img4.jpg') %>" alt="" />
                    <div class="imgdesc">Videos </div>
                  </a>
                </div> 
              <div class="imgarea">
                  <a href="<%= tour_path%>">
                    <img src="<%= asset_path('img5.jpg') %>" alt="" />
                    <div class="imgdesc">Tour </div>
                  </a>
              </div>                           
              <div class="imgarea">
                  <a href="<%= store_path%>">
                    <img src="<%= asset_path('img6.jpg') %>" alt="" />
                    <div class="imgdesc">Store </div>
                  </a>
              </div>             
        </div>
    </div>