<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   	   <h1><%= truncate(@news.title, length: 50) %> </h1>
   </div>
</div>

<br><br>

<%= image_tag @news.image.url(:medium) %>

<br><br>

<%= @news.description%>

<br><br>

<%= embed(@news.youtube_url) %>

<br><br>

<%= link_to '<button type="button" class="btn btn-primary active">Back</button>'.html_safe, latest_news_path %>
